{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container level">
        <div class="level-left">
            <div classs="level-item">
                <h1 class="title">{{ _('Time sheets') }}</h1>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="content">
            <ul>
                {% for object in object_list %}
                    <li>{{ object }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}
