{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container level">
        <div class="level-left">
            <div classs="level-item">
                <h1 class="title">{{ _('Time sheets') }}</h1>
                <h2 class="subtitle">
                    {{ _('Select a time sheet from the list.') }}
                </h2>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a class="button is-primary" href="{% url "sheets:create" %}">
                    {{_('New time sheet')}}
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="content">
            <ul>
                {% for object in object_list %}
                    <li>
                        <a href="{% url 'activities:list' object.pk %}">
                            {{ object }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}
