{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section class="section">
    <div class="container level">
        <div class="level-left">
            <div classs="level-item">
                <h1 class="title">
                    {% blocktrans with sheet_name=object.title %}
                    Statistics for &ldquo;{{ sheet_name }}&rdquo;
                    {% endblocktrans %}
                </h1>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a class="button is-secondary" href="{% url "activities:list" object.pk %}">
                    {{_('Go back')}}
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="content">
            <h3>{{ _('Hours per project this week') }}</h3>
            <div id="js-per-project-chart" data-api-url="{% url "api:sheets:hours-per-project-statistics" object.pk %}"></div>
        </div>
    </div>
</section>
{% endblock %}
