{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">
            {% blocktrans with sheet_name=sheet.title %}
            Create a new project for &ldquo;{{ sheet_name }}&rdquo;
            {% endblocktrans %}
        </h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="field ">
                {{ field.label_tag }}
                <p class="control">
                    {{ field }}
                </p>
                <p class="help">{{ field.help_text }}</p>
                {% for error in field.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}

            <input type="hidden" name="next" value="{{ back_url }}" />

            <div class="field">
                <p class="control">
                    <input class="button is-primary" type="submit" value="{{_('Create project')}}">
                    <a href="{{ back_url }}" class="button is-secondary">
                        {{_('Cancel') }}
                    </a>
                </p>
            </div>
        </form>
    </div>
</section>
{% endblock %}
